---
layout: page
---

<h2 class="post-title" style="text-align:center">
    <a>Atari</a>
</h2>
<p align="center"><img src="assets/images/Pong.gif" height="100" width="100"></img>     <img src="assets/images/Breakout.gif" height="100" width="100"></img>     
<img src="assets/images/Pinball.gif" height="100" width="100"></img>     <img src="assets/images/Boxing.gif" height="100" width="100"></img></p>  

<h2 class="post-title" style="text-align:center">
    <a>MuJoCo</a>
</h2>
<p align="center"><img src="assets/images/HalfCheetah-v2.gif" height="100" width="100"></img>     <img src="assets/images/Hopper-v2.gif" height="100" width="100"></img>     
<img src="assets/images/Humanoid-v2.gif" height="100" width="100"></img>     <img src="assets/images/HumanoidStandup-v2.gif" height="100" width="100"></img>     
<img src="assets/images/Reacher-v2.gif" height="100" width="100"></img>     <img src="assets/images/Swimmer-v2.gif" height="100" width="100"></img>     
<img src="assets/images/Thrower-v2.gif" height="100" width="100"></img></p>  

<h2 class="post-title" style="text-align:center">
    <a>Classic Control</a>
</h2>
<p align="center"><img src="assets/images/BipedalWalker-v2.gif" height="100" width="100"></img>     <img src="assets/images/LunarLanderContinuous-v2.gif" height="100" width="100"></img>     
<img src="assets/images/InvertedPendulum-v2.gif" height="100" width="100"></img></p>  

<h2 class="post-title" style="text-align:center">
    <a>Neural Art</a>
</h2>
<p align="center"><img src="assets/images/output/1.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/1.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;</p>  

