---
layout: page
---

<h2 class="post-title" style="text-align:center">
    <a>Atari</a>
</h2>
<p align="center"><img src="assets/images/Pong.gif" height="100" width="100"></img>     <img src="assets/images/Breakout.gif" height="100" width="100"></img>     
<img src="assets/images/Pinball.gif" height="100" width="100"></img>     <img src="assets/images/Boxing.gif" height="100" width="100"></img></p>  

<h2 class="post-title" style="text-align:center">
    <a>MuJoCo</a>
</h2>
<p align="center"><img src="assets/images/HalfCheetah-v2.gif" height="100" width="100"></img>     <img src="assets/images/Hopper-v2.gif" height="100" width="100"></img>     
<img src="assets/images/Humanoid-v2.gif" height="100" width="100"></img>     <img src="assets/images/HumanoidStandup-v2.gif" height="100" width="100"></img>     
<img src="assets/images/Reacher-v2.gif" height="100" width="100"></img>     <img src="assets/images/Swimmer-v2.gif" height="100" width="100"></img>     
<img src="assets/images/Thrower-v2.gif" height="100" width="100"></img></p>  

<h2 class="post-title" style="text-align:center">
    <a>Classic Control</a>
</h2>
<p align="center"><img src="assets/images/BipedalWalker-v2.gif" height="100" width="100"></img>     <img src="assets/images/LunarLanderContinuous-v2.gif" height="100" width="100"></img>     
<img src="assets/images/InvertedPendulum-v2.gif" height="100" width="100"></img></p>  

<h2 class="post-title" style="text-align:center">
    <a>Neural Art</a>
</h2>
<p align="center"><img src="assets/images/output/1.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/2.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/3.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/4.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/5.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/6.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/7.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/8.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/9.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/10.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/11.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/12.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/13.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/14.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/15.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/16.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/17.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/18.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/19.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/20.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/21.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/22.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/23.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/24.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/25.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/26.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/27.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/28.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/29.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/30.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/31.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/32.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/33.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/34.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/35.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/36.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/37.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/38.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/39.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/40.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/41.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/42.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/43.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;<img src="assets/images/output/44.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;
<img src="assets/images/output/45.png" height="100" width="150"></img>&nbsp;&nbsp;&nbsp;&nbsp;</p>  

